# SENSITIVE
MONGO_URI=mongodb+srv://[mongo_user]:[mongo_pass]@[mongo_url]/?appName=[mongo_cluster]
ACCESS_JWT_SECRET=same_as_on_auth_server
SEED_ACCESS_TOKEN=
# SEED_USER_LOGIN=
# SEED_USER_PASSWORD=

# PUBLIC
PORT=3000
DB_NAME=nextup_live
WEB_URL=http://localhost:5173
# AUTH_URL=http://localhost:2000
API_URL=http://locahlost:3000
