# SENSITIVE
MONGO_URI=
ACCESS_JWT_SECRET=
R2_ACCOUNT_ID=
R2_BUCKET=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_API_URL=

# PUBLIC
PORT=3000
DB_NAME=nextup_live
WEB_URL=http://localhost:5173
API_URL=http://localhost:3000
CDN_URL=https://pub-0cf72c5dec2c4b67bf1a3529817a7699.r2.dev
